html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body{
    padding-top:50px;
    background-color: 
    rgb(26, 26, 26);

}

.corpo img {
    width: 100%;
    margin-top:-50px;
    margin-bottom: -80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.barra-nav{
    background-color: rgb(26, 26, 26);
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 2px 5px rgb(0, 0, 0);
}
#sualocali{
    font-size: 15px;
    color: white;
}

.menu-hamb svg{
    color: rgb(255, 255, 255);
}


#localizacaoIcon{
border-radius: 20%;
}


.localizacaoicon svg{
    color: rgb(255, 255, 255);
    border-radius: 10%;
}


section img {
    margin-top: 10%;
    margin-left: 1%;
    border-radius: 3%;
    width: 97%;
    box-shadow: 2px 4px 5px #665e5e;
}
divBottom img{
    margin-top: 20%;
    border-radius: 30%;
    margin-right: 50px;

}

section {
    width: 100%;
}

section svg {
    width:11%;
}

.grupoiconseta{
    width: 5%;
    margin-top: 1%;

}




.textcenter{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.textposition{
    position: absolute;
    top: 190px;
    left:45%;
}


.tamicon{
    width: 17%;

}

.tamicon svg{
    width: 65%;
}


.colorbuton{
    background-color:  black;
}

.bordaredondacard{
    width: 106%;
    margin-left: -3.0%;
    height: 110%;
    border-radius: 10px;
    
}
#textsmall{
    font-size: 13px;

    text-align: center;

    margin-left: 70%;
}

#localizacaovoce  {
    color: black;

}

#fonte-1{
    font-family: 'Raleway', sans-serif;

}

#icon-localizacao{
    width: 10%;

}


#imagem{
    width: 12%;
    margin-left: 2%;
    box-shadow: 1px 1px 0 #665e5e ;
}

#imagemmundi{
    width: 100%;
    justify-content: center;
}





#localizacao {
    text-align: center;
    align-items: center;
}



#textcolor{
    color: black;
    background-color: white;   
}

.hrpersonalizado{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}
.textcolor{
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin-top: -15px;


}

.reportar{
    width: 100%;
    text-align: end;
}

.reportar svg{
    width: 7%;
}

.cardconfig{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.radiusborder{
    border-radius: 15px;
    opacity: 100%;
}

.gradedistancia{
    margin-top: 20%;

}

.btn-success bs-btn-hover-bg:hover{
    background-color: blue;
}

/* universal classe */
.colorwhite{
    color: white;
}

/* sign in FORM */
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 10px;
}

#logreg-forms1{
    width:412px;
    margin:10vh auto;
    background-color:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 10px;

}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms1 form{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;

}

#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 7%;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 7%;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#ffffff; }

#logreg-forms .google-btn{ background-color: #ffffff; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:992px){
    #logreg-forms{
        width: 90%;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.5rem;
        font-weight: 100;
        color:rgb(0, 0, 0);
        width:200px;
        height: 56px;
        font-weight: 500;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'FaceBook';

    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}


/* 
STYLE DO GPS 
*/

/*divtop*/ 
.setavoltar{
margin-left: -15px;
}
.setavoltar svg{
    width: 80%;
    
}